<a href="https://colab.research.google.com/github/yoon0416/python/blob/main/%EC%8B%A4%EC%8A%B50905.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **오늘의 실습**

In [ ]:
a=2
b=3
print(a+b)

5

In [ ]:
c= 5
d = 7
print(c*d)

35

In [ ]:
print(a+b+c+d)

17

In [ ]:
name = "뉴진스"
print(name)

name2 = "화이팅"
print(name2)

뉴진스
화이팅

In [ ]:
#input 함수
userdata = input("데이터를 입력하세요")
userdata = float(userdata)
type(userdata)
print(userdata+1)

데이터를 입력하세요3.14
4.140000000000001

In [ ]:
a = int(input("숫자 1 입력"))
b = int(input("숫자 2 입력"))
result = a+b
print("두 수의 합은 ",result)

숫자 1 입력3
숫자 2 입력4
두 수의 합은  7

In [ ]:
kor = int(input("국어 점수 입력"))
eng = int(input("영어 점수 입력"))
math = int(input("수학 점수 입력"))
print("총점: ",(kor+eng+math))
print("평균: ",round(((kor+eng+math)/3),2))

국어 점수 입력99
영어 점수 입력83
수학 점수 입력72
총점:  254
평균:  84.67

**조건문**

In [ ]:
num = int(input("숫자를 입력하세요\n"))
if num>80:
  print("합격입니다")
else:
  print("불합격")

숫자를 입력하세요
88
합격입니다

In [ ]:
score = int(input("점수를 입력하세요\n"))
if score>=90:
  print("A")
elif score>=80:
  print("B")
elif score>=70:
  print("C")
elif score>=60:
  print("D")
else:
  print("F")

점수를 입력하세요
77
C

In [ ]:
a = int(input("키를 입력하세요"))
if a>=120 and a<=160:
  print("탑승 가능")

else:
  print("탑승 불가능")

키를 입력하세요121
탑승 가능

**반복문**

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for num in range(1,11,1):
  print("num= ",num, end=" ")
  if num % 3 == 0:
    print("3의 배수")
  else:
    print("  ")

num=  1
num=  2
num=  3 3의 배수
num=  4
num=  5
num=  6 3의 배수
num=  7
num=  8
num=  9 3의 배수
num=  10

In [ ]:
num = 1
sum = 0

while num < 11:
  sum +=num
  if sum>= 30:
    print("num: ",num)
    break
  num += 1 # break 문 아래로 이동

num:  8

In [ ]:
for i in range(3,4,1):
  for j in range(1,10,1):
    print(i,"*",j,"=",i*j)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
height = int(input("트리의 높이를 입력하세요: "))

for i in range(1, height + 1):

    for j in range(height - i):
        print(" ", end="")

    for j in range(2 * i - 1):
        print("*", end="")
    print()

트리의 높이를 입력하세요: 5
    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(2,5,1):
  for j in range(1,10,1):
    print(i,"*",j,"=",i*j)
  print("-----------------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-----------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-----------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-----------------